*{


color: #ffffff;
font-family: 'Tomorrow', sans-serif;
text-decoration: none !important;
}

body{
    padding-top: 50px;
    background-image: url(../img/background.jpeg);
}

main{
    
    background-image: url(../img/background.jpeg);
}

nav{
font-size: large;
color: white;
}

.seccionPrincipal{
     margin-top: 5%;
     height: 100%;
    margin-bottom: 3%;
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
}

footer{

    color: white;
    padding: 5%;
    width: 100%;
    background-color: #2E4159;
    display: flex;
    transition: all 100ms ease;
    font-size: large;

}


footer:hover{

    transform: translateY(1%);
    box-shadow: #ff51c2 12px 1px 70px !important; 

}

.contenidoFooter{

display: flex;
justify-content: space-around;


}


form {
    background-color: #2E4159;
    border: 3px solid #521d39;
  }
  
 
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color:white;
  }
  
 
  button {
    background-color: #00efe3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  
  button:hover {
    opacity: 0.8;
  }
  
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  
  .imgcontainer {
    text-align: center;
    margin: 12px 0 6px 0;
  }
  
  img.loginImg {
    width: 10%;
    border-radius: 20%;
  }
  
 
  .container {
    background-color: #2E4159;
    padding: 16px;
    height: auto;
  }
  

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }


  .tarjetaLogin{

 background-color: #2E4159;
  border-radius: 40px !important;
  box-shadow: #ff51c2 12px 8px 20px !important;
   margin-top: 5% !important;
   transition: all 400ms ease;



  }

  .tarjetaLogin:hover{


  box-shadow: #ff51c2 12px 8px 50px !important;



  }

