<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.com">

<head th:replace="fragmentos::head"></head>

<body>

<header th:replace="fragmentos :: header"></header>




<main>



    <!-- SECCION PRINCIPAL -->
    <div class="container-fluid seccionPrincipal">

        <div class="row">

            <div class="col-4 ">

                <a href="">
                    <script
                            src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player class="animacionMain"
                                   src="https://assets10.lottiefiles.com/packages/lf20_m9zragkd.json" background="transparent"
                                   speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                </a>


            </div>

            <div class="col-8">

                <div class="card w-100 tarjetasMain">
                    <div class="card-body">
                        <h5 class="card-title">MIS NOTAS</h5>
                        <p class="card-text">Acceso a historial de examenes realizados y resultados
                        </p>
                        <a th:href="@{/usuario/__${session.usuarioEnSesion.id}__/#notas}" class="btn btn-primary botonPrincipales">VER MIS NOTAS</a>
                    </div>
                </div>



                <div class="card w-100 tarjetasMain">
                    <div class="card-body">
                        <h5 class="card-title">EXAMENES MAS POPULARES</h5>
                        <p class="card-text">La gente ya habló! Los 20 examenes más resueltos por la comunidad estan al alcance de un click
                        </p>
                        <a th:href="@{/examen/top20}" class="btn btn-primary botonPrincipales">VER EXAMENES</a>
                    </div>
                </div>



                <div class="card w-100 tarjetasMain">
                    <div class="card-body">
                        <h5 class="card-title">MATERIAL DE ESTUDIO</h5>
                        <p class="card-text">¿Querés hacer una refuerzo a tus Skills? Te invitamos a visitar esta web amiga y ponerte a punto para romper las barreras de tu codigo.
                        </p>
                        <a href="https://www.w3schools.com/" class="btn btn-primary botonPrincipales">VER MATERIAL DE ESTUDIO</a>
                    </div>
                </div>



            </div>

        </div>

    </div>



    <!-- CATEGORIAS-->
    <div class="container-fluid secciones">

        <h1 class="placeholder-glow">
            <span class="placeholder col-12"> </span>

        </h1>
        <h1>CATEGORIAS</h1>


        <div class="tarjetas">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
                 style="height: 50%; width: 50%; border-radius: 100 px;" >

                <div class="carousel-inner tarjetasSecciones">

                    <div class="carousel-item active" style="border-radius: 100px;">


                        <div class="card bg-dark text-white">




                            <div style="border-radius: 100px;">
                                <script
                                        src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_w51pcehl.json"
                                               background="#3e279d" speed="1" style="width: 100%; height: 100%;" hover loop
                                               autoplay></lottie-player>

                            </div>




                            <div class="card-img-overlay">
                                <h5  class="card-title">CATEGORIAS</h5>
                                <p class="card-text">Selecciona en que categoria queres retar tus habilidades y conocimientos</p>


                            </div>



                        </div>




                    </div>




                    <div class="carousel-item" th:each="categoria : ${categorias}" >



                        <div class="card bg-dark text-white">




                            <div style="border-radius: 100px;">
                                <script
                                        src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_w51pcehl.json"
                                               background="#3e279d" speed="1" style="width: 100%; height: 100%;" hover loop
                                               autoplay></lottie-player>

                            </div>




                            <div class="card-img-overlay">
                                <h1 th:text="${categoria.nombre}" class="card-title"></h1>


                            </div>



                        </div>

                        <div>

                            <a th:if="${categoria.id == 1}" href="#back"  style="width: 100%;"  class="btn btn-primary botonComenzarExamen">VER TEMATICAS</a>
                            <a th:if="${categoria.id == 2}" href="#front"  style="width: 100%;"  class="btn btn-primary botonComenzarExamen">VER TEMATICAS</a>
                            <a th:if="${categoria.id == 3}" href="#databases"  style="width: 100%;"  class="btn btn-primary botonComenzarExamen">VER TEMATICAS</a>

                        </div>

                    </div>






                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>

                </button>
            </div>



        </div>

    </div>


    <!-- SECCION BACKEND -->
    <div id="back" class="container-fluid secciones">

        <h1 class="placeholder-glow">
            <span class="placeholder col-12"> </span>
            BACKEND


        </h1>
        <p>Las siguientes son nuestras tematicas mas destacadas de la categoria Backend</p>

        <div class="tarjetas">
            <div class="card text-white mb-3 tarjetasSecciones" style="width: 18rem; ">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_buopyjyz.json" background="transparent"
                               speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                <div class="card-body">
                    <h5 class="card-title">PHYTON</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>

            <div class="card text-white mb-3 tarjetasSecciones" style="width: 18rem;">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_zh6xtlj9.json" background="transparent"
                               speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                <div class="card-body">
                    <h5 class="card-title">JAVA</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>

            <div class="card text-white  mb-3 tarjetasSecciones" style="width: 18rem;">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_WVVTq8.json" background="transparent"
                               speed="0.5" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                <div class="card-body">
                    <h5 class="card-title">C</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>

                </div>
            </div>




        </div>

        <div style=" display: flex; justify-content: center; margin-top: 3%;">
            <div style="width: 60%; height: 40%;">
                <a th:href="@{/categoria/1}" class="btn btn-primary tarjetasSecciones" style="width: 100%;  ">VER TODAS LAS TEMATICAS</a>
            </div>
        </div>

    </div>


    <!-- SECCION FRONTEND -->
    <div id="front" class="container-fluid secciones">

        <h1 class="placeholder-glow">
            <span class="placeholder col-12"> </span>
            FRONTEND


        </h1>
        <p>Las siguientes son nuestras tematicas mas destacadas de la categoria Frontend</p>




        <div class="container-fluid">

            <div class="tarjetas">
                <div class="card text-white  mb-3 tarjetasSecciones" style="width: 18rem;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_lwpbfw74.json" background="transparent"
                                   speed="0.5" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                    <div class="card-body">
                        <h5 class="card-title">JAVASCRIPT</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>

                <div class="card text-white  mb-3 tarjetasSecciones" style="width: 18rem;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_wuuqhfmi.json"
                                   background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                    <div class="card-body">
                        <h5 class="card-title">HTML</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>

                <div class="card text-white  mb-3 tarjetasSecciones"
                     style="width: 18rem; border-radius: 40px; box-shadow: #00efe3 12px 8px 30px; background-color: #3d23b2;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_d6czzyqr.json"
                                   background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                    <div class="card-body">
                        <h5 class="card-title">CSS</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>

            </div>

            <div style=" display: flex; justify-content: center; margin-top: 3%;">
                <div style="width: 60%; height: 40%;">
                    <a th:href="@{/categoria/2}" class="btn btn-primary tarjetasSecciones" style="width: 100%;  ">VER TODAS LAS TEMATICAS</a>
                </div>
            </div>


        </div>



    </div>


    <!-- SECCION BASES DE DATOS -->
    <div id="databases" class="container-fluid secciones">

        <h1 class="placeholder-glow">
            <span class="placeholder col-12"> </span>
            BASES DE DATOS


        </h1>
        <p>Las siguientes son nuestras tematicas mas destacadas de la categoria Bases de Datos</p>




        <div class="container-fluid">

            <div class="tarjetas">
                <div class="card text-white  mb-3 tarjetasSecciones" style="width: 18rem;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_qv9hdeyy.json" background="transparent"
                                   speed="2" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                    <div class="card-body">
                        <h5 class="card-title">DISEÑO DE BASES DE DATOS</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>


                    </div>
                </div>

                <div class="card text-white  mb-3 tarjetasSecciones" style="width: 18rem; border-radius: 40px; ">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_vrxzhzfk.json" background="transparent"
                                   speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                    <div class="card-body">
                        <h5 class="card-title">SEGURIDAD</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>

                    </div>
                </div>

                <div class="card text-white  mb-3 tarjetasSecciones" style="width: 18rem;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_bxiuVv.json" background="transparent"
                                   speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                    <div class="card-body">
                        <h5 class="card-title">MYSQL WORKBENCH</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>

                    </div>
                </div>

            </div>

            <div style=" display: flex; justify-content: center; margin-top: 3%;">
                <div style="width: 60%; height: 40%;">
                    <a th:href="@{/categoria/3}" class="btn btn-primary tarjetasSecciones" style="width: 100%;  ">VER TODAS LAS TEMATICAS</a>
                </div>
            </div>

        </div>



    </div>












</main>

<footer th:replace="fragmentos::footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>