<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tomorrow&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Perfil</title>
</head>

<body>


<header th:replace="fragmentos :: header"></header>




  <main>



    <!-- DATOS PERSONALES -->
    <div class="container-fluid seccionPrincipal">

      <div class="row">



        <div class="col-8">

          <div class="card w-100 tarjetasMain">
            <div class="card-body">
              <h5 class="card-title">DATOS PERSONALES</h5>
              <p class="card-text" th:text="|Nombre: ${usuario.nombre} ${usuario.apellido}|">Nombre: Nombre Apellido</p>
              <p class="card-text" th:text="|Edad: ${usuario.edad} años|">Edad: 19 años</p>
              <p class="card-text" th:text="|Mail: ${usuario.mail} |">Mail: Mail@gmail.com</p>
              <p class="card-text" th:text="|Telefono: ${usuario.telefono} |">Telefono: 1166046826</p>
              <a th:href="@{/usuario/editar/__${usuario.id}__}" class="btn btn-primary botonPrincipales">Editar perfil</a>
              <a th:href="@{/usuario/editarPass/__${usuario.id}__}" class="btn btn-primary botonPrincipales">Cambiar contraseña</a>
            </div>








          </div>


          <div style="display: flex;  justify-content: center; margin-top: 7%;">
            <a th:href="@{/}" class="btn btn-primary tarjetasSecciones" style="width: 70%;">VOLVER AL MENU PRINCIPAL</a>
          </div>



        </div>

        
        <div class="col-4 ">

          <a href="">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_hvzjb7o5.json" background="transparent"
              speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
          </a>



        </div>

      </div>

    </div>


    <!-- HISTORIAL DE EXAMENES -->
    <div th:unless="${usuario.resultados.isEmpty()}" id="notas" class="container-fluid secciones" >

      <h1 class="placeholder-glow">
        <span class="placeholder col-12"> </span>
        HISTORIAL DE EXAMENES:


      </h1>
    



      <div class="container-fluid">

        <div class="tarjetas row" style="margin-top: 2%;">

          <div class="card text-white  mb-3 tarjetasSecciones col-3" style="width: 18rem;" th:each="resultado : ${usuario.resultados}">
           
            <div class="card-body">
              <div class="opciones" style="display: flex; justify-content: center; margin-bottom: 10%;">  
              <h5 th:text="${resultado.examen.nombre}" class="card-title"></h5>
            </div>
              <p  th:text="|DIFICULTAD: ${resultado.examen.dificultad}|" class="card-text">Dificultad</p>
              <p th:text="|NOTA ALCANZADA: ${resultado.puntajeFinal}%|" class="card-text">Nota alcanzada:</p>
              <p th:text="${resultado.aprobado == true} ? 'STATUS: APROBADO' : 'STATUS: DESAPROBADO'" class="card-text">Nota alcanzada:</p>
              <p th:text="|TEMATICA: ${resultado.examen.tematica.nombre}|" class="card-text">Tematica</p>
              <p th:text="|DURACION: ${resultado.duracion}|" class="card-text">Duracion:</p>
              <a th:href="@{/examen/realizar/__${resultado.examen.id}__}" class="btn btn-outline-secondary botonesSecciones">REPETIR EXAMEN</a>
            </div>
          </div>


        </div>

      </div>

    </div>



  </main>

  <footer class="container-fluid" th:replace="fragmentos::footer"></footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>